body{
  background-color : black;
  
}

.values{
  width : 60px;
  height :60px;
  border-radius: 30px;
  border : none;
  background-color : rgb(51,51,51);
  color :white;
  cursor : pointer;
  font-size: 25px;
  margin-right: 5px;
}

.operators{
  width : 60px;
  height :60px;
  border-radius: 30px;
  border : none;
  background-color :rgb(254,160,10);
  color :white;
  cursor : pointer;
  font-size: 25px;
}
.clear{
  font-size: 17px;
}

.js-calculation{
  margin-top : 10px;
  margin-bottom : 10px;
  color : white;
  font-size: 45px;
  font-family: Arial;
}
